@namespace Blazor.Monaco
<div style="@FallbackStyle" class="@Class">
    @_jsonConfig
</div>
@code {
    /// <summary>
    /// The language of the editor (e.g., JavaScript, PowerShell). This overrides the language set in <see cref="EditorOptions"/>.
    /// </summary>
    [Parameter] public Language? Language { get; set; }
    
    /// <summary>
    /// The editor options. See <see cref="EditorOptions"/> for available settings.
    /// </summary>
    [Parameter] public EditorOptions EditorOptions { get; set; } = new();
    
    /// <summary>
    /// CSS styles to apply to the editor container.
    /// </summary>
    [Parameter] public string? Style { get; set; } 
    
    /// <summary>
    /// CSS classes to apply to the editor container.
    /// </summary>
    [Parameter] public string? Class { get; set; }
    
    private string? _jsonConfig;
    private string? FallbackStyle => Style is null && Class is null ? "min-height: 10em;" : Style;

    protected override void OnParametersSet()
    {
        EditorOptions.Language = Language??EditorOptions.Language;
        _jsonConfig = EditorOptions.ToJson(true);
    }
    

}