@namespace Blazor.Monaco
<div style="white-space: pre; width: 80%;  line-break: inherit; display: inline-block;">
    @_jsonConfig
</div>
@code {
    [Parameter] public Language? Language { get; set; } 
    [Parameter] public EditorOptions EditorOptions { get; set; } = new();
    private string? _jsonConfig;
    protected override void OnParametersSet()
    {
        EditorOptions.Language = Language??EditorOptions.Language;
        _jsonConfig = EditorOptions.ToJson(true);
    }
    

}